.App {
  /* text-align: center; */
  /* display: flex; */
  /* margin: auto; */
}

.logo {
  cursor: pointer;
  float: left;
  width: 80px;
  height: 32px;
  line-height: 32px;
  margin: 16px 24px 16px 0;
  background: #001529;
  border-radius: 8px;
  text-align: center;
}

.logo-text {
  color: #fff;
  font-size: 16px;
}

.menu {
  max-width: 480px;
}

.login {
  float: right;
  /* width: 120px; */
  /* height: 31px; */
  /* margin: 16px 24px 16px 0; */
}

.site-layout .site-layout-background {
  background: #fff;
}